
h3{
    margin-left: 5%;
    color: rgb(253, 85, 152);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.map-container{
    width: 600px; 
    height: 300px;
    margin-left: 10%;
}