.row{
    margin-top: 8%;
}

h5{
    font-family: "Century Gothic";
    font-weight: bolder;
    font-size: 160%;
    text-align: center;
    color: rgb(153, 153, 153);
}

li{
    font-family: "Century Gothic";
    color: rgb(66, 89, 73);

}


#editar{
    float: right;
}

@media only screen and (max-width: 768px) {
    
    #contenedor{
        margin-top: 40%;
    }

}