
.contenedor table {
    border-collapse: collapse;
    width: 80vw;
    margin: 0 auto; /* Centra la tabla horizontalmente */
}


.contenedor th {
    border-bottom: 1px solid #ddd; /* Borde inferior en todas las celdas */
    padding: 20px;
    text-align: center;
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    color: rgb(153, 153, 153);
}


.contenedor td {
    border-bottom: 1px solid #ddd; /* Borde inferior en todas las celdas */
    padding: 20px;
    text-align: center;
}


h2{ 
    margin-top:1.5em;
    font-size: 300%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    background: linear-gradient(#1B8D06,#A7E02C);
    -webkit-background-clip: text;
    color: transparent;
            
}


th{
    font-size: 120%;
}

.no-voyages{
    margin-top: 18%;
    text-align: center;
    font-size: 50px;
    color: rgb(153, 153, 153);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.pais{
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    font-weight: bolder;
}

.precio{
    font-size: 120%;
    color:#dd751f;
    font-weight: bolder;
}


button{
    background: rgb(252, 234, 144);
    border: 3px black solid;
    color: rgb(0, 0, 0);
    font-size: 130%;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 110%;
}


/* Contenedor principal que envuelve todo el contenido */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
  }
  
  .content-container {
    flex: 1;
  }
  
  .principal {
    padding: 20px;
    margin-bottom: 200px; /* Ajusta el margen inferior para dejar espacio al footer */
  }
  
  


  .footer {
    width: 100%;
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
  }

.contacto{
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Grosor de la línea */
  text-underline-offset: 4px; /* Distancia entre la línea y la palabra */
}




@media only screen and (max-width: 768px) {




    h2{ 
    margin-top:10rem;
    font-size: 200%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    background: linear-gradient(#1B8D06,#A7E02C);
    -webkit-background-clip: text;
    color: transparent;
            
}

.contenedor table {
        width: 100%; /* Cambia el ancho de la tabla al 100% del ancho del contenedor en dispositivos móviles */
        margin-top: 5%;
        overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido desborda el contenedor */

    }

    /* Estilos adicionales para dispositivos móviles */
    .contenedor th,
    .contenedor td {
        padding: 10px; /* Reducir el relleno de las celdas */
        font-size: 80%; /* Reducir el tamaño de fuente */
    }


.contenedor th {
    border-bottom: 1px solid #ddd; /* Borde inferior en todas las celdas */
    padding: 20px;
    text-align: left;
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    color: rgb(153, 153, 153);
}

.contenedor td {
    border-bottom: 1px solid #ddd; /* Borde inferior en todas las celdas */
    text-align: left;
}

/* Ocultar borde inferior en la última fila */
.contenedor .last td {
    border-bottom: none;
}
  
th{
    font-size: 60%;
}

.pais{
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    font-weight: bolder;
}

.precio{
    font-size: 80%;
    color:#dd751f;
    font-weight: bolder;
}

button{
    background: rgb(252, 234, 144);
    border: 3px black solid;
    color: rgb(0, 0, 0);
    font-size: 80%;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 110%;
}

.no-voyages{
    margin-top: 40%;
    text-align: center;
    font-size: 50px;
    color: rgb(153, 153, 153);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



}