
h1{
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10%;
}

.listado{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: rgb(0, 157, 255);
    margin-bottom: 5%;
}

.cabecera{
    font-size: 110%;
    font-family: 'Comic Sans Ms';
    color: grey;
}



.contacto{
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Grosor de la línea */
  text-underline-offset: 4px; /* Distancia entre la línea y la palabra */
}



.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
  }
  
  .content-container {
    flex: 1;
  }
  
  .principal {
    padding: 20px;
    margin-bottom: 200px; /* Ajusta el margen inferior para dejar espacio al footer */
  }
  
  


  .footer {
    width: 100%;
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
  }



@media only screen and (max-width: 768px) {
    h1{
        color: blueviolet;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 40%;
    }
  
}