
h1{
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10%;
}

.listado{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: rgb(0, 157, 255);
    margin-bottom: 5%;
}

.cabecera{
    font-size: 110%;
    font-family: 'Comic Sans Ms';
    color: grey;
}

footer {
    width: 100%;
    height: auto 0;
    background-color: #28a745; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color del texto según tus preferencias */
    padding: 10px; /* Ajusta el relleno según tus preferencias */
    margin-top: 10%;
}

.contacto{
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Grosor de la línea */
  text-underline-offset: 4px; /* Distancia entre la línea y la palabra */
}


@media only screen and (max-width: 768px) {
    h1{
        color: blueviolet;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 40%;
    }
    footer {
        width: 100%;
        height: auto 0;
        background-color: #28a745; /* Cambia el color de fondo según tus preferencias */
        color: #fff; /* Cambia el color del texto según tus preferencias */
        padding: 10px; /* Ajusta el relleno según tus preferencias */
        margin-top: 30%;
    }
}