header {
    background: rgba(175, 255, 174, 0.4);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

main {
    margin: auto;
    margin-top: 5%;
    width: 80%;
    padding: 10px;
}

section{
    display: inline-flex;
    padding: 5px;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

/*Article Izquierdo y Article Derecho*/

.registro{    
    width: 100%;
    border:2px solid #01662989;
    margin-right: 20px;

}

.registro form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.iniciar{
    display: block;
    position: relative;
    width: 100%;
    border:2px solid #01662989;
   
}

.iniciar form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
}


/* Cambiar el color de la sombra cuando se enfoca un campo de entrada */
.form-control:focus {
    border-color: #fffcaa; /* Cambia el color del borde */
    box-shadow: 0 0 0 0.2rem rgb(255, 205, 105); /* Cambia el color y la intensidad de la sombra */
}