<header class="header">
    <nav class="header_nav">
        <ul class="header__ul">
            <div class="derecha">
                <li class="header__li">
                    <a href="#" class="header__a">PLANET TRAVEL<img src="./assets/logo.png" alt="" class="logo"></a>
                </li>
            </div>
            <div class="izquierda">
                <li class="header__li">
                    <a href="#" class="header__a">FECHA</a>
                    <div class="dropdown-content-months">
                        <!-- Contenido del submenú de fechas -->
                        <app-months></app-months> 
                    </div>
                </li>
                <li class="header__li">
                    <a href="#" class="header__a">DESTINO</a>
                    <div class="dropdown-content-continent">
                        <!-- Contenido del submenú de destinos -->
                        <app-continent></app-continent> 
                    </div>
                </li>
                <li class="header__li">
                    <a href="#" class="header__a">GRUPO DE EDAD</a>
                    <div class="dropdown-content-ageGroup">
                        <!-- Contenido del submenú de destinos -->
                        <app-age-group></app-age-group> 
                    </div>
                </li>
                <li class="header__li">
                    <a routerLink="/login" class="header__a">LOGIN IN</a>
                </li>
            </div>
        </ul>
    </nav>

    <div class="imagenes">
        <img src="./assets/foro.jpg" alt="" class="foro">
    </div>
</header>
<app-footer></app-footer>

