<header class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <ul class="navbar" id="navegable">
            <div class="derecha">
                <li class="header__li" id="titulo">
                    <a href="#" class="header__a" style="display: inline-block;">
                        PLANET TRAVEL
                        <img src="./assets/logo.png" alt="" class="logo">
                    </a>
                </li>
            </div>
            <!-- Elementos para usuario autenticado -->
            <ng-container *ngIf="isAuthenticated" class="autentificado">
                <div class="izquierda">                
                    <li class="header__li">
                        <a href="#" class="header__a">FECHA</a>
                        <div class="dropdown-content-months">
                            <!-- Contenido del submenú de fechas -->
                            <app-months></app-months> 
                        </div>
                    </li>
                    <li class="header__li">
                        <a href="#" class="header__a">DESTINO</a>
                        <div class="dropdown-content-continent">
                            <!-- Contenido del submenú de destinos -->
                            <app-continent></app-continent> 
                        </div>
                    </li>
                    <li class="header__li">
                        <a href="#" class="header__a">GRUPO DE EDAD</a>
                        <div class="dropdown-content-ageGroup">
                            <!-- Contenido del submenú de grupos de edad -->
                            <app-age-group></app-age-group> 
                        </div>
                    </li>
                    <li class="header__li">
                        <a href="#" class="header__a" id="forum">FORO</a>
                        <div class="dropdown-content-ageGroup">
                            <app-voyages-client></app-voyages-client>
                        </div>
                    </li>
                    <li class="header__li">
                        <p class="header__a" id="bienvenida">Bienvenid@ {{username}}</p>
                    </li>
                    <li class="header__li">
                        <a routerLink="/profile" class="header__a" id="perfil">
                            <img src="./assets/usuario.png" class="perfil" alt="Perfil"/>
                        </a>
                    </li>
                    
                    <li class="header__li">
                        <a (click)="logout()" class="header__a">
                            <img src="./assets/cerrar-sesion.png" class ="cerrarSesion" alt="Delete Thread"/>
                        </a>
                    </li>                  
                    
                </div>
            </ng-container>

            <!-- Elementos para usuario no autenticado -->
            <ng-container *ngIf="!isAuthenticated" class="noautentificado">   
                <div class="izquierdaNoautentificado">
                    <li class="header__li">
                        <a href="#" class="nav-item">FECHA</a>
                        <div class="dropdown-content-months">
                            <!-- Contenido del submenú de fechas -->
                            <app-months></app-months> 
                        </div>
                    </li>
                    <li class="header__li">
                        <a href="#" class="header__a">DESTINO</a>
                        <div class="dropdown-content-continent">
                            <!-- Contenido del submenú de destinos -->
                            <app-continent></app-continent> 
                        </div>
                    </li>
                    <li class="header__li">
                        <a href="#" class="header__a">GRUPO DE EDAD</a>
                        <div class="dropdown-content-ageGroup">
                            <!-- Contenido del submenú de destinos -->
                            <app-age-group></app-age-group> 
                        </div>
                    </li>
                    
                    <li class="header__li">
                        <a routerLink="/login" class="header__a" id="login">
                            <img src="./assets/iniciar-sesion.png" style="width: 40px;" alt="Perfil"/>
                        </a>
                    </li>
                    
                </div>                 
                
            </ng-container>                
        </ul>
    </nav>
    <app-body *ngIf="mostrarBody" class="foto"></app-body> <!--Solo debe aparecer la foto en el index-->   
    <app-opinion *ngIf="mostrarOpinion"></app-opinion> <!--Solo debe aparecer las opiniones en el index-->
</header>
