* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el header */
header {
    background: rgba(255, 255, 255, 0.674);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding-bottom: 10px;
}


nav{
    background: rgb(225, 254, 208);   
    width: 100%; 
    height: 90px;   
    position: fixed;
    z-index: 2;
    padding-bottom: 10px;

}


nav ul{
    display: flex;
    background: rgba(255, 255, 255, 0.137);
   

}

nav ul .derecha{
    width: 30%;
}


nav ul .derecha li{
    display: inline-block;
    color:blue;
    padding-left: 20px;
}

nav ul .derecha li a{
    display: inline-block;
    color:rgb(12, 122, 1);
    padding-left: 70px;
    font-weight: bolder;
    font-size: 30px;
}


/*NO AUTENTIFICADO*/

nav ul .izquierdaNoautentificado{
    width: 70%;

}


nav ul .izquierdaNoautentificado li{
    display: inline-block;
    padding-left: 50px;
   

}

nav ul .izquierdaNoautentificado li a{
    display: inline-block;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 20px;
    margin-top: 25%;

}

nav ul .izquierdaNoautentificado li p{
    display: inline-block;
    color:rgb(0, 0, 0);
    padding-left: 60px;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 0%;

}



/*SI AUTENTIFICADO*/

nav ul .izquierda{
    width: 70%;

}


nav ul .izquierda li{
    display: inline-block;
    padding-left: 50px;
   

}

nav ul .izquierda li a{
    display: inline-block;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 20px;
    margin-top: 25%;

}

nav ul .izquierda li p{
    display: inline-block;
    color:rgb(8, 90, 1);
    padding-left: 10px;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}


#logout{
    padding-left: 10px;
    text-decoration: underline;
    cursor: pointer;

}



/* Submenú de fechas */
.dropdown-content-months {
    display: none; /* Por defecto que esté oculto */
    
}

/*Submenú de destinos */
.dropdown-content-continent {
    display: none;
   
}

/*Submenú de destinos */
.dropdown-content-ageGroup {
    display: none;
   
}


/* Mostrar submenús cuando se pasa el ratón sobre los elementos del menú principal */
.header__li:hover .dropdown-content-months {
    display: block;    
}

.header__li:hover .dropdown-content-continent {
    display: block;    
}

.header__li:hover .dropdown-content-ageGroup {
    display: block;    
}


.dropdown-content-months{
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    background: rgba(255, 255, 255, 0.838);
    position: absolute;
    color: blue;
    width: 10%; 
    text-align: center;  
    border-radius: 10px; /* Añadir bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Añadir sombra */
    cursor: pointer;

}


.dropdown-content-continent{
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    color: blue;
    width: 10%; 
    text-align: center;  
    border-radius: 10px; /* Añadir bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Añadir sombra */


}


.dropdown-content-ageGroup{
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    color: blue;
    width: 10%; 
    text-align: center;  
    border-radius: 10px; /* Añadir bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Añadir sombra */
}

.logo{
    height: 60px;
    width: 60px;

}




