
<div class="imagenes">
    <img src="./assets/foro.jpg" alt="foro" class="img-fluid" id="foro">
</div>

<div class="texto-bienvenida" id="bienvenida">
    <h2 class="mt-5">¡Bienvenido a Planet Travel!</h2>
    <p class="lead">Explora el mundo con nosotros y descubre destinos increíbles, experiencias inolvidables y aventuras que te llevarán más allá de tus límites. En Planet Travel, creemos en hacer realidad tus sueños de viaje, desde las playas de arena blanca hasta las cumbres nevadas, desde las ciudades vibrantes hasta los rincones más remotos del planeta.</p>
    <p>Nuestro equipo de expertos en viajes está aquí para ayudarte a planificar cada detalle de tu próxima aventura, desde la elección del destino hasta la reserva de alojamiento, actividades y experiencias únicas. Ya sea que estés buscando unas vacaciones relajantes en la playa, una emocionante escapada urbana o una expedición de aventura en la naturaleza, estamos aquí para convertir tus sueños en realidad.</p>
    <p>Déjanos ser tu guía en el viaje de tu vida. ¡Bienvenido a Planet Travel, donde comienza tu próxima gran aventura!</p>
</div>






