#principal{
    margin-bottom: 20%;
}

#mapa{
    width: 50px;
    margin-bottom: 5%;
}

h3{
    margin-left: 5%;
    color: rgb(253, 85, 152);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    font-size: 130%;
    width: 40%;
}

footer {
    width: 100%;
    height: auto 0;
    background-color: #28a745; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color del texto según tus preferencias */
    padding: 10px; /* Ajusta el relleno según tus preferencias */
}

.contacto{
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Grosor de la línea */
  text-underline-offset: 4px; /* Distancia entre la línea y la palabra */
}