#principal{
    margin-bottom: 20%;
}

#mapa{
    width: 50px;
    margin-bottom: 5%;
}

h3{
    margin-left: 5%;
    color: rgb(253, 85, 152);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    font-size: 130%;
    width: 40%;
}