<app-cabecera></app-cabecera>
<div class="contenedor" *ngIf="voyages.length > 0">
  <h2 class="display-2">Viajes del Mes</h2>
  <div class="table-responsive-sm">  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">País</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Fin</th>
          <th scope="col">Itinerario</th>
          <th scope="col">Precio</th>
          <th scope="col">Máximo de Viajeros</th>
          <th scope="col"></th> <!-- Botón vacío para el botón de mostrar información del viaje -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voyage of voyages" class="table-light">
          <td class="pais">{{ voyage.city__name }}</td>
          <td class="fecha">Desde el {{ voyage.date_start | date:'d' }} de {{ voyage.date_start | date:'MMMM' }} del {{ voyage.date_start | date:'yyyy' }}</td>
          <td class="fecha">Hasta el {{ voyage.date_end | date:'d' }} de {{ voyage.date_end | date:'MMMM' }} del {{ voyage.date_end | date:'yyyy' }}</td>
          <td class="itinerario">{{ voyage.itinerary }}</td>
          <td class="precio">{{ voyage.price | currency:'EUR' }}</td>
          <td class="maxviajeros">{{ voyage.maximum_travelers }}</td>
          <td><button (click)="viewVoyage(voyage.id)" class="btn btn-info">Ver viaje</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="contenedor2" *ngIf="voyages.length === 0">
  <ng-container *ngFor="let mes of mesesDisponibles">
    <p class="no-voyages">No hay viajes disponibles para {{ mes | date:'MMMM' }}</p>
  </ng-container>
</div>
<app-footer></app-footer>